<h1>Mad Products Yo</h1>

<%= link_to "Add New Product", new_product_path %>

<% @products.each do |product| %>

  <h2><%= product.name %></h2>
  <p><%= product.formatted_price %></p>
  <p><%= product.description %></p>
  <%= link_to product.name, product_path(product)%>

<% end %>
